# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=trade_crm
DB_LOGGING=false
DB_SSL=false

# App
PORT=3000
NODE_ENV=development

# AWS Cognito
COGNITO_REGION=us-east-2
COGNITO_USER_POOL_ID=us-east-2_vpllPmEOD
COGNITO_CLIENT_ID=53cio0p2dshgeq14olqjcqu1c8
COGNITO_CLIENT_SECRET=your-cognito-client-secret
AWS_ACCESS_KEY_ID=your-iam-access-key
AWS_SECRET_ACCESS_KEY=your-iam-secret-key
